<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./static/styles.css">
	<title>Christian</title>
</head>
<body>
	<h1>Hey {{name}}</h1>
	<h1>I think you are {{gender}}</h1>
	<h1>And maybe {{age}} years old.</h1>
	<a href="{{url_for('get_blog', num=3)}}">Go to blog</a>
	
</body>
<footer>
	<p>Copyright {{year}}. Built by Christian Arbelaez.</p>
</footer>
</html>